html {
  height: 100vh;
  background-image: linear-gradient(130deg, #FFFFFF, #3f0067);
  background-repeat: no-repeat;
  background-size: auto;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.call-button {
  border: none;
}

.menu-list-container {
  display: flex;
  flex-direction: column;
}

.menu-item {
  padding-left: 1rem;
}

.hidden {
  display: none;
}